## IDEs ##

# NetBeans #
nbproject/

# TextMate #
*.tmproj
*.tmproject
tmtags

# Eclipse #
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.cproject

# Komodo #
*.komodoproject
.komodotools

# E Texteditor #
.eprj
