# Refer to https://github.com/github/gitignore

## SVN ##
/.svn/*
*/.svn/*

## CakePHP ##
tmp/*
Config/database.php
Config/email.php
!empty

## Operating Systems ##

# OSX #
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db 
Desktop.ini

# Linux #
.directory
